{# Publications page. #}

{% extends "../base.html" %}

{% block head_title %}Publications {{ year or '' }}{% end %}
{% block body_title %}
<span class="glyphicon glyphicon-file"></span>
Publications {{ year or '' }}
{% end %}

{% block main_content %}
<h3>{{ len(publications) }} publications</h3>
{% for publication in publications %}
{% include '../publication.html' %}
{% end %}
{% end %} {# block main_content #}

{% block alt_format %}
{% if year %}
{% set url = reverse_url('publications_table_year', year) %}
{% else %}
{% set url = reverse_url('publications_table') %}
{% end %}
<a href="{{ url }}">
  <span class="glyphicon glyphicon-list-alt"></span>
  Table
</a>
<br>
{% if year %}
{% set url = handler.reverse_url('publications_year_json', year) %}
{% else %}
{% set url = handler.reverse_url('publications_json') %}
{% end %}
<a href="{{ url }}"><img src="{{ static_url('json.png') }}"> JSON</a>
<br>
<a href="{{ reverse_url('publications_csv', year=year, cancel_url=request.uri) }}">
  <img src="{{ static_url('csv.png') }}"> CSV
</a>
<br>
<a href="{{ reverse_url('publications_xlsx', year=year, cancel_url=request.uri) }}">
  <img src="{{ static_url('xlsx.png') }}"> XLSX
</a>
<br>
<a href="{{ reverse_url('publications_txt', year=year, cancel_url=request.uri) }}">
  <img src="{{ static_url('txt.png') }}"> TXT
</a>
{% end %} {# block alt_format #}
