{# Label creation page. #}

{% extends "../base.html" %}

{% block head_title %}Create label{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-tag"></span>
<span class="glyphicon glyphicon-plus"></span>
Create label
{% end %} {# block body_title #}

{% block main_content %}
<form action="{{ reverse_url('label_create') }}"
      method="POST" class="form-horizontal" role="form">
  {% module xsrf_form_html() %}

  <div class="form-group has-feedback">
    <label class="control-label col-md-2" for="value">Label</label>
    <div class="col-md-5">
      <input type="value" name="value" id="value" class="form-control">
      <span class="glyphicon glyphicon-star text-danger form-control-feedback"></span>
      <span class="help-block">
	The label value, which must be unique.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="secondary">Secondary</label>
    <div class="col-md-8 checkbox">
      <label>
	<input type="checkbox" name="secondary" id="secondary" value="true">
        Secondary label: It is not shown in the list of current labels.
      </label>
    </div>
  </div>

  {% if settings['TEMPORAL_LABELS'] %}
  <div class="form-group has-feedback">
    <label class="control-label col-md-2" for="started">Started</label>
    <div class="col-md-6">
      <input type="text" name="started" id="started" class="form-control">
      <span class="help-block">
        The year the label became valid (if applicable).
      </span>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label class="control-label col-md-2" for="ended">Ended</label>
    <div class="col-md-6">
      <input type="text" name="ended" id="ended" class="form-control">
      <span class="help-block">
        The year the label became invalid (if applicable). If not set,
        then the label is current.
      </span>
    </div>
  </div>
  {% end %}

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <button type="submit" class="btn btn-success">
	<span class="glyphicon glyphicon-plus"></span> Create label
      </button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}

{% block meta_content %}
<a href="{{ reverse_url('labels') }}" class="btn btn-default" role="button">
  <span class="glyphicon glyphicon-remove-circle"></span> Cancel
</a>
{% end %} {# block meta_content #}

{% block autofocus %}
<script>
  $(function(){ $("#value").focus(); });
</script>
{% end %}
