{# Label remove page. #}

{% extends "../base.html" %}

{% block head_title %}Remove label from publications{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-tag"></span>
<span class="glyphicon glyphicon-minus"></span>
Remove label from publications
{% end %} {# block body_title #}

{% block main_content %}
<form action="{{ reverse_url('label_remove', label) }}"
      method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <label class="control-label col-md-2" for="label">Label</label>
    <div class="col-md-10">
      <p name="label" id="label" class="form-control-static"> {{ label }}
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="publications">Publications</label>
    <div class="col-md-10">
      <input type="file" name="publications" id="publications" class="form-control">
      <span class="help-block">
        The file must be a publications subset file in CSV format produced
        using the <a target="_blank" href="{{ reverse_url('subset') }}">Subset</a> page.
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <button type="submit" class="btn btn-success">
	<span class="glyphicon glyphicon-minus"></span> Remove label
      </button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}

{% block meta_content %}
<a href="{{ reverse_url('labels') }}" class="btn btn-default" role="button">
  <span class="glyphicon glyphicon-remove-circle"></span> Cancel
</a>
{% end %} {# block meta_content #}

{% block autofocus %}
<script>
  $(function(){ $("#publications").focus(); });
</script>
{% end %}
