{# Password set page. #}

{% extends "base.html" %}

{% block head_title %}Set password{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-arrow-down"></span>
Set password
{% end %} {# block body_title #}

{% block main_content %}
<div class="row">
  <div class="col-md-5">
   <form action="{{ reverse_url('account_password') }}"
	  role="form"
	  method="POST">
      {% module xsrf_form_html() %}
      <div class="form-group has-feedback">
	<label for="email">Account</label>
	<input type="text" class="form-control" name="account"
	       placeholder="Email address of account"
	       autocomplete="email" value="{{ email }}">
	<span class="glyphicon glyphicon-star text-danger form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
	<label for="password">New password</label>
	<input type="password" class="form-control" name="password"
	       autocomplete="new-password">
	<span class="glyphicon glyphicon-star text-danger form-control-feedback"></span>
	<span class="help-block">
	  The password must be at least {{ settings['MIN_PASSWORD_LENGTH'] }}
	  characters.
	</span>
      </div>
      <div class="form-group has-feedback">
	<label for="code">Code</label>
	{% if is_admin %}
	<span class="help-block">
	  You as admin do not need to provide the one-time code.
	</span>
	{% else %}
	<input type="text" class="form-control" name="code"
	       placeholder="One-time code for setting password"
	       value="{{ code }}" autocomplete="new-password">
	<span class="glyphicon glyphicon-star text-danger form-control-feedback"></span>
	<span class="help-block">
	  The code is in the email sent to you when resetting the old
	  password.
	  <a href="{{ reverse_url('account_reset') }}">Get a new one here</a>
	  if you don't have it.
	</span>
	{% end %}
      </div>
      <div class="form-group"> 
	<button type="submit" class="btn btn-success btn-block">
	  <span class="glyphicon glyphicon-arrow-down"></span>
	  Set password
	</button>
      </div>
    </form>
  </div>
</div>
{% end %} {# block main_content #}
