{# Account page. #}

{% extends "base.html" %}

{% block head_title %}{{ account['email'] }}{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-user"></span>
{{ account['email'] }}
{% end %} {# block body_title #}

{% block main_content %}
<table class="table">
  <tr>
    <th>Role</th>
    <td>{{ account['role'] }}</td>
  </tr>
  <tr>
    <th>Labels</th>
    <td>
      {% if account['role'] == constants.ADMIN %}
      <i>any</i>
      {% else %}
      {% for label in account['labels'] %}
      <a href="{{ reverse_url('label', label) }}">{{ label }}</a>
      <br>
      {% end %} {# for label #}
      {% end %} {# if #}
    </td>
  </tr>
  <tr>
    <th>Last login</th>
    <td>
      {% if account.get('login') %}
      <span class="localtime">{{ account['login'] }}</span>
      {% else %}
      -
      {% end %}
    </td>
  </tr>
  <tr>
    <th>Modified</th>
    <td class="localtime">{{ account['modified'] }}</td>
  </tr>
  <tr>
    <th>Created</th>
    <td class="localtime">{{ account['created'] }}</td>
  </tr>
</table>
{% end %} {# block main_content #}

{% block meta_content %}
<p>
  <a href="{{ reverse_url('account_edit', account['email']) }}"
     class="btn btn-primary"
     role="button">
    <span class="glyphicon glyphicon-edit"></span>
    Edit
  </a>
</p>
{% if settings['EMAIL']['HOST'] %}
<p>
  <a href="{{ reverse_url('account_reset', account=account['email']) }}"
     class="btn btn-warning"
     role="button">
    <span class="glyphicon glyphicon-repeat"></span>
    Reset password
  </a>
</p>
{% end %}
{% if is_admin %}
<p>
  <a href="{{ reverse_url('account_password', account=account['email']) }}"
     class="btn btn-success"
     role="button">
    <span class="glyphicon glyphicon-arrow-down"></span>
    Set password
  </a>
</p>
{% end %}
<p>
  <a href="{{ reverse_url('logs', account['_id']) }}">
    <span class="badge">
      <span class="glyphicon glyphicon-list-alt"></span>
      Logs
    </span>
  </a>
</p>
{% end %} {# block meta_content #}
