<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{{ title }}{% end %}</title>
    <link rel="shortcut icon" type="image/png"
	  href="{{ reverse_url('site', 'logo32.png') }}">
    <link rel="stylesheet" type="text/css"
	  href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ static_url('publications.css') }}">
    {% block header_css %}
    {% end %}
  </head>

  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle"
		  data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="{{ reverse_url('home') }}">
	    <img src="{{ reverse_url('site', 'logo32.png') }}"
		 title="{{ settings['SITE_NAME'] }}"
		 alt="{{ settings['SITE_NAME'] }}">
	  </a>
	</div>

	<div class="collapse navbar-collapse" id="myNavbar">
	  <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="glyphicon glyphicon-file"></span>
		Publications
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		{% if is_curator %}
		<li>
		  <a href="{{ reverse_url('publication_import') }}">
		    <span class="glyphicon glyphicon-cloud-download"></span>
		    Import
		  </a>
		</li>
		<li>
		  <a href="{{ reverse_url('publications_unverified') }}">
		    <span class="glyphicon glyphicon-question-sign"></span>
		    Unverified
		  </a>
		</li>
		{% end %} {# if is_curator #}

		<li class="dropdown-header">Lists</li>
		{% for y, c in year_counts %}
		<li>
		  <a href="{{ reverse_url('publications_year', y) }}">
		    <span class="glyphicon glyphicon-file"></span>
		    {{ y }} ({{ c }})
		  </a>
		</li>
		{% end %} {# for y, c #}
		<li>
		  <a href="{{ reverse_url('publications') }}">
		    <span class="glyphicon glyphicon-file"></span>
		    All ({{ sum([c for y, c in year_counts]) }})
		  </a>
		</li>

		<li class="dropdown-header">Tables</li>
		{% for y, c in year_counts %}
		<li>
		  <a href="{{ reverse_url('publications_table_year', y) }}">
		    <span class="glyphicon glyphicon-list-alt"></span>
		    {{ y }} ({{ c }})
		  </a>
		</li>
		{% end %} {# for y, c #}
		<li>
		  <a href="{{ reverse_url('publications_table') }}">
		    <span class="glyphicon glyphicon-list-alt"></span>
		    All ({{ sum([c for y, c in year_counts]) }})
		  </a>
		</li>
	      </ul>
	    </li>

	    {% if is_admin %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="glyphicon glyphicon-user"></span>
		Accounts
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		<li>
		  <a href="{{ reverse_url('accounts') }}">
		    <span class="glyphicon glyphicon-list-alt"></span>
		    All
		  </a>
		</li>
		<li>
		  <a href="{{ reverse_url('account_add') }}">
		    <span class="glyphicon glyphicon-plus"></span>
		    Add
		  </a>
		</li>
	      </ul>
	    </li>
	    {% end %} {# if is_admin #}

	    {% if is_admin %}
	    {# Labels table contains curator's email addresses
	       which should not be available to the public. #}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="glyphicon glyphicon-tag"></span>
		Labels
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		<li>
		  <a href="{{ reverse_url('labels_table') }}">
		    <span class="glyphicon glyphicon-list-alt"></span>
		    Table: All
		  </a>
		</li>
		<li>
		  <a href="{{ reverse_url('label_add') }}">
		    <span class="glyphicon glyphicon-plus"></span>
		    Add
		  </a>
		</li>
	      </ul>
	    </li>
	    {% end %} {# if is_admin #}

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="glyphicon glyphicon-info-sign"></span>
		About
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		<li>
		  <a href="{{ reverse_url('contact') }}">
		    <span class="glyphicon glyphicon-earphone"></span>
		    Contact
		  </a>
		</li>
		<li>
		  <a href="{{ settings['SOURCE_HOME'] }}">
		    <span class="glyphicon glyphicon-link"></span>
		    Software v{{ settings['SOURCE_VERSION'] }}
		  </a>
		</li>
	      </ul>
	    </li>
	  </ul>

	  <div>
	    <ul class="nav navbar-nav navbar-right">
	      {% if current_user %}
	      <li>
		<a href="{{ reverse_url('account', current_user['email']) }}">
		   {{ current_user['email'] }}
		</a>
	      </li>
	      <li>
		<form action="{{ reverse_url('logout') }}"
		      role="form"
		      class="navbar-form"
		      method="POST">
		  {% module xsrf_form_html() %}
		  <button type="submit"
			  title="Logout"
			  class="btn btn-default">
		    <span class="glyphicon glyphicon-log-out"></span>
		  </button>
		</form>
	      </li>
	      {% else %}
	      <li>
		<div class="navbar-btn">
		  <a href="{{ reverse_url('login') }}"
		     class="btn btn-default"
		     role="button">
		    <span class="glyphicon glyphicon-log-in"></span>
		    Login
		  </a>
		</div>
	      </li>
	      {% end %} {# if current_user #}
	      {% block search_field %}
	      <li>
		<form action="{{ reverse_url('search') }}"
		      role="form"
		      class="navbar-form form-inline"
		      method="GET">
		  <div class="form-group has-feedback">
		    <input type="search" id="terms" name="terms"
			   class="form-control"
			   placeholder="Search">
		    <span class="glyphicon glyphicon-search form-control-feedback"></span>
		  </div>
		</form>
	      </li>
	      {% end %} {# block search_field #}
	    </ul>
	  </div>
	</div>
      </div>
    </nav>

    <div class="container-fluid">
      {% block body_header %}
      <div class="row">
	<div class="col-md-9 col-md-offset-2">
	  <h1>{% block body_title %}{{ title }}{% end %}</h1>
	</div>
	<div class="col-md-1">
	</div>
      </div>
      {% end %} {# block body_header #}

      {% block error %}
      {% try %}
      {% if error %}
      <div class="row">
	<div class="col-md-9 col-md-offset-2 lead alert alert-danger">
	  <strong>Error:</strong> {{ error }}
	</div>
      </div>
      {% end %} {# if error #}
      {% except NameError %}
      {% end %} {# try #}
      {% end %} {# block error #}

      {% block message %}
      {% try %}
      {% if message %}
      <div class="row">
	<div class="col-md-9 col-md-offset-2 lead alert alert-warning">
	  {# Allow links in message #}
	  <strong>Message:</strong> {% raw message %}
	</div>
      </div>
      {% end %} {# if message #}
      {% except NameError %}
      {% end %} {# try #}
      {% end %} {# block message #}

      {% block content %}
      <div class="row">
	<div class="col-md-1">
	  {% block menu_content %}
	  {% for y, c in year_counts %}
	  <p>
	    <a href="{{ reverse_url('publications_year', y) }}"
	       class="btn btn-default btn-sm btn-block left"
	       role="button">
	      <span class="glyphicon glyphicon-file"></span>
	      {{ y }} ({{ c }})
	    </a>
	  </p>
	  {% end %} {# for y, c #}
	  <p>
	    <a href="{{ reverse_url('labels_list') }}"
	       class="btn btn-default btn-sm btn-block left"
	       role="button">
	      <span class="glyphicon glyphicon-tag"></span>
	      Labels
	    </a>
	  </p>
	  {% end %} {# block menu_content #}
	</div>
	<div class="col-md-9">
	  {% block main_content %}
	  {% end %} {# block main_content #}
	</div>
	<div class="col-md-2">
	  {% block meta_content %}
	  {% end %} {# block meta_content #}
	</div>
      </div>
      {% end %} {# block content #}

    </div>

    {% block javascript_standard %}
    {# NOTE: jQuery has to be loaded before bootstrap! #}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ static_url('jquery.localtime-0.9.1.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      $.datepicker.setDefaults({dateFormat: "yy-mm-dd"});
      $(document).ready(function(){ $(".datepicker").datepicker(); });
    </script>
    {% end %} {# block javascript_standard #}

    {% block autofocus %}
    <script>
      $(document).ready(function(){ $("#terms").focus(); });
    </script>
    {% end %}

    {% block javascript_code %}
    {% end %}
  </body>
</html>
