<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block head_title %}{{ title }}{% end %}</title>
    <link rel="shortcut icon" type="image/png"
	  href="{{ reverse_url('site', 'favicon.png') }}">
    <link rel="stylesheet" href="{{ settings['JQUERY_CSS'] }}">
    <link rel="stylesheet" href="{{ settings['BOOTSTRAP_CSS'] }}">
    <link rel="stylesheet" href="{{ settings['BOOTSTRAP_THEME_CSS'] }}">
    <link rel="stylesheet" href="{{ settings['DATATABLES_CSS'] }}">
    <link rel="stylesheet" href="{{ static_url('publications.css') }}">
    {# NOTE: jQuery JS has to be loaded before bootstrap JS! #}
    <script src="{{ settings['JQUERY_JS'] }}"></script>
    <script src="{{ settings['JQUERY_UI_JS'] }}"></script>
    <script src="{{ static_url('jquery.localtime-0.9.1.min.js') }}"></script>
    <script>
      $.datepicker.setDefaults({dateFormat: "yy-mm-dd"});
      $(function(){ $(".datepicker").datepicker(); });
    </script>
    <script defer src="{{ settings['BOOTSTRAP_JS'] }}"></script>
    <script defer src="{{ settings['DATATABLES_JQUERY_JS'] }}"></script>
    <script defer src="{{ settings['DATATABLES_BOOTSTRAP_JS'] }}"></script>
  </head>

  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle"
		  data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a href="{{ reverse_url('home') }}"
	     class="navbar-brand"
	     title="Home">
	    <span class="glyphicon glyphicon-home"></span>
	  </a>
	</div>

	<div class="collapse navbar-collapse" id="myNavbar">
	  <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="glyphicon glyphicon-file"></span>
		Publications
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		{% if is_curator %}
		<li>
		  <a href="{{ reverse_url('publication_import') }}">
		    <span class="glyphicon glyphicon-cloud-download"></span>
		    Import
		  </a>
		</li>
		<li>
		  <a href="{{ reverse_url('publication_add') }}">
		    <span class="glyphicon glyphicon-plus"></span>
		    Add
		  </a>
		</li>
		<li>
		  <a href="{{ reverse_url('publications_unverified') }}">
		    <span class="glyphicon glyphicon-question-sign"></span>
		    Unverified
		  </a>
		</li>
		<li>
		  <a href="{{ reverse_url('publications_no_pmid') }}">
		    <span class="glyphicon glyphicon-unchecked"></span>
		    No PMID
		  </a>
		</li>
		<li>
		  <a href="{{ reverse_url('publications_no_doi') }}">
		    <span class="glyphicon glyphicon-unchecked"></span>
		    No DOI
		  </a>
		</li>
		{% end %} {# if is_curator #}

		<li>
		  <a href="{{ reverse_url('publications') }}">
		    <span class="glyphicon glyphicon-list"></span>
		    List all ({{ sum([c for y, c in year_counts]) }})
		  </a>
		</li>

		<li class="dropdown-header">
		  <span class="glyphicon glyphicon-list-alt"></span>
		  Tables
		</li>
		{% for y, c in year_counts %}
		<li>
		  <a href="{{ reverse_url('publications_table_year', y) }}">
		    {{ y }} ({{ c }})
		  </a>
		</li>
		{% end %} {# for y, c #}
		<li>
		  <a href="{{ reverse_url('publications_table') }}">
		    All ({{ sum([c for y, c in year_counts]) }})
		  </a>
		</li>
	      </ul>
	    </li>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="glyphicon glyphicon-tag"></span>
		Labels
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		<li>
		  <a href="{{ reverse_url('labels') }}">
		    <span class="glyphicon glyphicon-list"></span>
		    Labels list
		  </a>
		</li>
		<li>
		  <a href="{{ reverse_url('labels_table') }}">
		    <span class="glyphicon glyphicon-list-alt"></span>
		    Labels table
		  </a>
		</li>
		{% if is_admin %}
		<li>
		  <a href="{{ reverse_url('label_add') }}">
		    <span class="glyphicon glyphicon-plus"></span>
		    Add label
		  </a>
		</li>
		{% end %} {# if is_admin #}
	      </ul>
	    </li>

	    {% if is_admin %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="glyphicon glyphicon-user"></span>
		Accounts
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		<li>
		  <a href="{{ reverse_url('accounts') }}">
		    <span class="glyphicon glyphicon-list-alt"></span>
		    Accounts table
		  </a>
		</li>
		<li>
		  <a href="{{ reverse_url('account_add') }}">
		    <span class="glyphicon glyphicon-plus"></span>
		    Add account
		  </a>
		</li>
	      </ul>
	    </li>
	    {% end %} {# if is_admin #}

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="glyphicon glyphicon-info-sign"></span>
		About
		<span class="caret"></span>
	      </a>
              <ul class="dropdown-menu">
		<li>
		  <a href="{{ reverse_url('contact') }}">
		    <span class="glyphicon glyphicon-earphone"></span>
		    Contact
		  </a>
		</li>
		{% if settings.get('SITE_PARENT_URL') %}
		<li>
		  <a href="{{ settings['SITE_PARENT_URL'] }}" target="_">
		    <span class="glyphicon glyphicon-link"></span>
		    {{ settings.get('SITE_PARENT_NAME') or 'parent site' }}
		  </a>
		</li>
		{% end %}
		<li>
		  <a href="{{ settings['SOURCE_URL'] }}" target="_">
		    <span class="glyphicon glyphicon-link"></span>
		    Software v{{ settings['SOURCE_VERSION'] }}
		  </a>
		</li>
	      </ul>
	    </li>
	  </ul>

	  <div>
	    <ul class="nav navbar-nav navbar-right">
	      {% if current_user %}
	      <li>
		<a href="{{ reverse_url('account', current_user['email']) }}">
		   {{ current_user['email'] }}
		</a>
	      </li>
	      <li>
		<form action="{{ reverse_url('logout') }}"
		      role="form"
		      class="navbar-form"
		      method="POST">
		  {% module xsrf_form_html() %}
		  <button type="submit"
			  title="Logout"
			  class="btn btn-default">
		    <span class="glyphicon glyphicon-log-out"></span>
		  </button>
		</form>
	      </li>
	      {% else %}
	      <li>
		<div class="navbar-btn">
		  <a href="{{ reverse_url('login') }}"
		     class="btn btn-default"
		     role="button">
		    <span class="glyphicon glyphicon-log-in"></span>
		    Login
		  </a>
		</div>
	      </li>
	      {% end %} {# if current_user #}
	      {% block search_field %}
	      <li>
		<form action="{{ reverse_url('search') }}"
		      role="form"
		      class="navbar-form form-inline"
		      method="GET">
		  <div class="form-group has-feedback">
		    <input type="search" id="terms" name="terms"
			   class="form-control"
			   placeholder="Search">
		    <span class="glyphicon glyphicon-search form-control-feedback"></span>
		  </div>
		</form>
	      </li>
	      {% end %} {# block search_field #}
	    </ul>
	  </div>
	</div>
      </div>
    </nav>

    <div class="container-fluid">
      {% block body_header %}
      <div class="row">
	<div class="col-md-2">
	  {% if settings.get('SITE_PARENT_URL') %}
	  <a href="{{ settings['SITE_PARENT_URL'] }}">
	  {% end %}
	  <img src="{{ reverse_url('site', 'logo.png') }}"
	       class="img-responsive"
	       style="padding-bottom: 10px;"
	       title="{{ settings.get('SITE_PARENT_NAME') or '' }}">
	  {% if settings.get('SITE_PARENT_URL') %}
	  </a>
	  {% end %}
	</div>
	<div class="col-sm-8">
	  <h2>{% block body_title %}{{ title }}{% end %}</h2>
	  {% block body_subtitle %}{% end %}
	</div>
	<div class="col-sm-2">
	  {% block alt_format %}
	  {% end %}
	</div>
      </div>
      {% end %} {# block body_header #}

      {% block error %}
      {% try %}
      {% if error %}
      <div class="row">
	<div class="col-sm-9 col-sm-offset-2 lead alert alert-danger">
	  <strong>Error:</strong> {{ error }}
	</div>
      </div>
      {% end %} {# if error #}
      {% except NameError %}
      {% end %} {# try #}
      {% end %} {# block error #}

      {% block message %}
      {% try %}
      {% if message %}
      <div class="row">
	<div class="col-sm-9 col-sm-offset-2 lead alert alert-warning">
	  {# Allow links in message #}
	  <strong>Message:</strong> {% raw message %}
	</div>
      </div>
      {% end %} {# if message #}
      {% except NameError %}
      {% end %} {# try #}
      {% end %} {# block message #}

      {% block content %}
      <div class="row">
	<div class="col-sm-2">
	  {% block menu_content %}
	  {% for y, c in year_counts %}
	  <p>
	    <a href="{{ reverse_url('publications_year', y) }}"
	       class="btn btn-default btn-sm"
	       role="button">
	      <span class="glyphicon glyphicon-file"></span>
	      {{ y }} ({{ c }})
	    </a>
	  </p>
	  {% end %} {# for y, c #}
	  <p>
	    <a href="{{ reverse_url('labels') }}"
	       class="btn btn-default btn-sm"
	       role="button">
	      <span class="glyphicon glyphicon-tag"></span>
	      Labels
	    </a>
	  </p>
	  <p>
	    <a href="{{ reverse_url('journals') }}"
	       class="btn btn-default btn-sm"
	       role="button">
	      <span class="glyphicon glyphicon-book"></span>
	      Journals
	    </a>
	  </p>
	  {% end %} {# block menu_content #}
	</div>
	<div class="col-sm-8">
	  {% block main_content %}
	  {% end %} {# block main_content #}
	</div>
	<div class="col-sm-2">
	  {% block meta_content %}
	  {% end %} {# block meta_content #}
	</div>
      </div>
      {% end %} {# block content #}

      {% block footer %}
      <hr>
      <div class="row">
	<div class="col-sm-2">
	  <a href="{{ reverse_url('home') }}">
	    <span class="glyphicon glyphicon-home"></span>
	    {{ settings['SITE_NAME'] }}
	  </a>
	</div>
	<div class="col-sm-2 col-sm-offset-3">
	  {% if settings.get('SITE_PARENT_URL') %}
	  <a href="{{ settings['SITE_PARENT_URL'] }}" target="_">
	    <span class="glyphicon glyphicon-link"></span>
	    {{ settings.get('SITE_PARENT_NAME') or 'parent site' }}
	  </a>
	  {% end %}
	</div>
	<div class="col-sm-2 col-sm-offset-3">
	  <a href="{{ settings['SOURCE_URL'] }}" target="_">
	    <span class="glyphicon glyphicon-link"></span>
	    Software v{{ settings['SOURCE_VERSION'] }}
	  </a>
	</div>
      </div>
      {% end %} {# block footer #}
      
    </div>

    {% block autofocus %}
    <script>
      $(function(){ $("#terms").focus(); });
    </script>
    {% end %}

    {% block javascript_code %}
    {% end %}
  </body>
</html>
