{# Labels list page. #}

{% extends "base.html" %}

{% block head_title %}Labels list{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-tag"></span>
Labels list
{% end %}

{% block main_content %}
<div class="row">
  <ul class="col-md-6 list-unstyled">
    {% for label in labels[0::2] %}
      <li>
	<a href="{{ reverse_url('label', label['value']) }}"
	   class="btn btn-default btn-block label-special">
	  {{ label['value'] }}
	</a>
      </li>
      {% end %}
  </ul>
  <ul class="col-md-6 list-unstyled">
    {% for label in labels[1::2] %}
      <li>
	<a href="{{ reverse_url('label', label['value']) }}"
	   class="btn btn-default btn-block label-special">
	  {{ label['value'] }}
	</a>
      </li>
      {% end %}
  </ul>
</div>
{% end %} {# block main_content #}

{% block meta_content %}
{% if is_admin %}
<p>
  <a href="{{ reverse_url('label_add') }}"
     class="btn btn-success left"
     role="button">
    <span class="glyphicon glyphicon-plus"></span>
    Add
  </a>
</p>
{% end %} {# if is_admin #}
{% end %} {# block meta_content #}

{% block alt_format %}
<a href="{{ reverse_url('labels_table') }}">
  <span class="glyphicon glyphicon-list-alt"></span>
  Table
</a>
<br>
<a href="{{ reverse_url('labels_json') }}">
  <img src="{{ static_url('json.png') }}"> JSON
</a>
{% end %} {# block alt_format #}
