{# Label page. #}

{% extends "base.html" %}

{% block head_title %}{{ label['value'] }}{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-tag"></span>
{{ label['value'] }}
{% end %} {# block body_title #}

{% block main_content %}
{% if current_user %}
<h3>Curators</h3>
<p>
{% if accounts %}
{% for account in accounts %}
<a href="{{ reverse_url('account', account['email']) }}">
  {{ account['email'] }}
</a>
{% end %} {# for account #}
{% else %}
<i>None</i>
{% end %}
</p>
{% end %} {# if current_user #}
<h3>Publications</h3>
{% include 'publications_list.html' %}
{% end %} {# block main_content #}
