{# Labels table page. #}

{% extends "base.html" %}

{% block head_title %}Labels table{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-tag"></span>
<span class="glyphicon glyphicon-list-alt"></span>
Labels table
{% end %}

{% block main_content %}
<div class="row">
  <div class="col-md-12">
    <table id="labels" class="table table-striped table-condensed">
      <thead>
	<tr>
	  <th>Label</th>
	  <th># Publications</th>
	  {% if is_curator %}
	  <th>Curators</th>
	  {% end %}
	</tr>
      </thead>
      <tbody>
	{% for label in labels %}
	<tr>
	  <td>
	    <a href="{{ reverse_url('label', label['value']) }}">
	      {{ label['value'] }}
	    </a>
	  </td>
	  <td>
	    
	    <span class="badge">{{ label['count'] }}</span>
	  </td>
	  {% if is_curator %}
	  <td>
	    {% for email in label['accounts'] %}
	    <a href="{{ reverse_url('account', email) }}">{{ email }}</a>
	    <br>
	    {% end %}
	  </td>
	  {% end %}
	</tr>
	{% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %} {# block main_content #}

{% block alt_format %}
<p>
  <a href="{{ reverse_url('labels') }}">
    <span class="glyphicon glyphicon-list"></span>
    List
  </a>
</p>
{% end %} {# block alt_format #}

{% block javascript_code %}
<script>
  $(function() {
    $("#labels").DataTable( {
      "pagingType": "full_numbers",
    });
  });
</script>
{% end %}
