{# Label edit page. #}

{% extends "base.html" %}

{% block head_title %}Edit label{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-tag"></span>
<span class="glyphicon glyphicon-edit"></span>
Edit '{{ label['value'] }}'
{% end %} {# block body_title #}

{% block main_content %}
<form action="{{ reverse_url('label_edit', label['value']) }}"
      role="form"
      class="form-horizontal"
      method="POST">
  {% module xsrf_form_html() %}
  <input type="hidden" name="_rev" value="{{ label['_rev'] }}">

  <div class="form-group has-feedback">
    <label class="control-label col-sm-2" for="value">Label</label>
    <div class="col-sm-8">
      <input type="text" name="value" id="value" class="form-control"
	     value="{{ label['value'] }}">
      <span class="glyphicon glyphicon-star text-danger form-control-feedback"></span>
      <span class="help-block">
	The label value, which must be unique.
      </span>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label class="control-label col-sm-2" for="href">Href</label>
    <div class="col-sm-8">
      <input type="text" name="href" id="href" class="form-control"
	     value="{{ label.get('href') or '' }}">
      <span class="help-block">
        A URL to a resource providing information about the label,
        e.g. a facility page.
      </span>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label class="control-label col-sm-2" for="description">Description</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="4"
		name="description" id="description"
		>{{ label.get('description') or '' }}</textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-11 col-md-offset-1">
      <button type="submit" class="btn btn-success">
	<span class="glyphicon glyphicon-save"></span>
	Save
      </button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}

{% block meta_content %}
<a href="{{ reverse_url('label', label['value']) }}"
   class="btn btn-default"
   role="button">
  <span class="glyphicon glyphicon-remove-circle"></span>
  Cancel
</a>
{% end %} {# block meta_content #}

{% block autofocus %}
<script>
  $(function(){ $("#value").focus(); });
</script>
{% end %}
