{# Label page. #}

{% extends "base.html" %}

{% block head_title %}
{{ label['value'] }} ({{ len(publications) }} publications)
{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-tag"></span> {{ label['value'] }}
{% end %} {# block body_title #}

{% block main_content %}
{% if current_user %}
<h3>Curators</h3>
<p>
  {% if accounts %}
  {% for account in accounts %}
  <a href="{{ reverse_url('account', account['email']) }}">
    {{ account['email'] }}
  </a>
  {% end %} {# for account #}
  {% else %}
  <i>None</i>
  {% end %}
</p>
{% end %} {# if current_user #}

{% include 'publications_list.html' %}
{% end %} {# block main_content #}

{% block meta_content %}
{% if is_admin %}
<p>
  <a href="{{ reverse_url('label_edit', label['value']) }}"
     class="btn btn-primary"
     role="button">
    <span class="glyphicon glyphicon-edit"></span>
    Edit
  </a>
</p>
<p>
  <form action="{{ reverse_url('label', label['value']) }}"
	role="form"
	method="POST">
    {% module xsrf_form_html() %}
    <input type="hidden" name="_http_method" value="delete">
    <button type="submit" class="btn btn-danger"
	    onclick="return confirm('Really delete this label?');">
      <span class="glyphicon glyphicon-trash"></span>
      Delete
    </button>
  </form>
</p>
{% end %} {# if is_admin #}
{% end %} {# block meta_content #}

{% block alt_format %}
<p>
  <a href="{{ reverse_url('label_json', label['value']) }}">
    <img src="{{ static_url('json.png') }}">
    JSON
  </a>
</p>
{% end %} {# block alt_format #}
