{# Login page. #}

{% extends "base.html" %}

{% block head_title %}Login{% end %}

{% block body_header_title %}
<span class="glyphicon glyphicon-log-in"></span> Login
{% end %} {# block body_header_title #}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <form action="{{ reverse_url('login') }}"
	  role="form"
	  method="POST">
      {% module xsrf_form_html() %}
      <div class="form-group">
	<label for="email">Email</label>
	<input type="text" class="form-control" name="email"
	       placeholder="Email address of account">
      </div>
      <div class="form-group">
	<label for="password">Password</label>
	<input type="password" class="form-control" name="password">
      </div>
      <input type="hidden" name="next" value="{{ next }}">
      <div class="form-group"> 
	<button type="submit" class="btn btn-primary btn-block">
	  <span class="glyphicon glyphicon-log-in"></span>
	  Login
	</button>
      </div>
    </form>
  </div>
</div>
{% end %} {# block main_content #}
