{# Unverified publications page. #}

{% extends "base.html" %}

{% block head_title %}Unverified publications{% end %}
{% block body_title %}
<span class="glyphicon glyphicon-question-sign"></span>
<span class="glyphicon glyphicon-file"></span>
Unverified publications
{% end %}

{% block main_content %}
<h3>{{ len(publications) }} publications</h3>
{% for publication in publications %}
<div class="row">
  <div class="col-md-10">
    {% include 'publication_display.html' %}
  </div>
  <div class="col-md-2">
    <form action="{{ reverse_url('publication_verify', publication['_id']) }}"
	  role="form"
	  method="POST">
      {% module xsrf_form_html() %}
      <input type="hidden" name="next"
	     value="{{ reverse_url('publications_unverified') }}">
      <button type="submit" class="btn btn-success left">
	<span class="glyphicon glyphicon-ok"></span>
	Verify
      </button>
    </form>
    <br>
    <form action="{{ reverse_url('publication_blacklist', publication['_id']) }}"
	  role="form"
	  method="POST">
      {% module xsrf_form_html() %}
      <input type="hidden" name="next"
	     value="{{ reverse_url('publications_unverified') }}">
      <button type="submit" class="btn btn-danger left"
	      onclick="return confirm('Really blacklist this publication?');">
	<span class="glyphicon glyphicon-ban-circle"></span>
	Blacklist
      </button>
    </form>
  </div>
</div>
{% end %} {# for #}
{% end %} {# block main_content #}

{% block meta_content %}
<p>
  <a href="https://github.com/pekrau/Publications/wiki/Terms-explained#verified"
     target="_">
    <span class="glyphicon glyphicon-question-sign"></span>
    Explain "verified"
  </a>
</p>
<p>
  <a href="https://github.com/pekrau/Publications/wiki/Terms-explained#blacklist"
     target="_">
    <span class="glyphicon glyphicon-question-sign"></span>
    Explain "blacklist"
  </a>
</p>
{% end %}

{% block javascript_code %}
<script>
$(function(){ $('[data-toggle="popover"]').popover(); });
</script>
{% end %}
