{# Publication xrefs edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit xrefs for publication {{ publication['title'][:20] }}...
{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-edit"></span>
<span class="glyphicon glyphicon-share"></span>
Edit xrefs for
{% if len(publication['title']) < 30 %}
'{{ publication['title'] }}'
{% else %}
'{{ publication['title'][:28] }}...'
{% end %}
{% end %} {# block body_title #}

{% block main_content %}
<div class="panel panel-default">
  <div class="panel-body">
    <form action="{{ reverse_url('publication_xrefs', publication['_id']) }}"
          role="form"
          class="form-horizontal"
          method="POST">
      {% module xsrf_form_html() %}
      <input type="hidden" name="_rev" value="{{ publication['_rev'] }}">
      <div class="form-group">
        <label class="control-label col-sm-2" for="db">Database</label>
        <div class="col-sm-5">
          <select class="form-control" name="db" id="db"
                  aria-describedby="dbHelp">
            {% for dbname in sorted(settings['XREF_TEMPLATE_URLS'].keys()) %}
            <option>{{ dbname }}</option>
            {% end %}
          </select>
          <span id="dbHelp" class="help-block text-warning">
            Required.
          </span>
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" name="db_other" id="db_other">
          <span id="dbHelp" class="help-block text-warning">
            Specify another database. If given, this value will be used.
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="key">Accession</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="key" id="key"
                 aria-describedby="keyHelpt">
          <span id="keyHelp" class="help-block">
            Required. An entire URL (including
            the <code>http://</code>, etc, part) if the chosen
            database is URL.
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"
                 name="description" id="description"
                 aria-describedby="descriptionHelp">
          <span id="descriptionHelp" class="help-block">
            Brief description or title of the data referenced.
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-success"
                  aria-describedby="addHelp">
	    <span class="glyphicon glyphicon-plus"></span>
	    Add
          </button>
          <span id="addHelp" class="help-block">
            If an entry exists with the same database and accession,
            its description will be updated.
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

{% for pos, xref in enumerate(publication.get('xrefs', [])) %}
<div class="panel panel-default">
  <div class="panel-body">
    <form action="{{ reverse_url('publication_xrefs', publication['_id']) }}"
          role="form"
          class="form-horizontal"
          method="POST">
      {% module xsrf_form_html() %}
      <input type="hidden" name="_rev" value="{{ publication['_rev'] }}">
      <input type="hidden" name="_http_method" value="DELETE">
      <input type="hidden" name="db" value="{{ xref['db'] }}">
      <input type="hidden" name="key" value="{{ xref['key'] }}">
      <div class="form-group vcompress">
        <label class="control-label col-sm-2">Database</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ xref['db'] }}</p>
        </div>
      </div>
      <div class="form-group vcompress">
        <label class="control-label col-sm-2">Accession</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ xref['key'] }}</p>
        </div>
      </div>
      <div class="form-group vcompress">
        <label class="control-label col-sm-2">Description</label>
        <div class="col-sm-10">
          <p class="form-control-static">{{ xref.get('description') or '-' }}</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-danger">
	    <span class="glyphicon glyphicon-remove"></span>
	    Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% end %} {# for xref #}
{% end %} {# block main_content #}

{% block meta_content %}
<a href="{{ reverse_url('publication', publication['_id']) }}"
   class="btn btn-default"
   role="button">
  <span class="glyphicon glyphicon-remove-circle"></span>
  Cancel
</a>
{% end %} {# block meta_content #}
