{# Publication page. #}

{% extends "base.html" %}

{% block head_title %}{{ publication['title'] }}{% end %}

{% block body_title %}
{% if not publication.get('verified') %}
<span class="glyphicon glyphicon-question-sign"></span>
{% end %}
<span class="glyphicon glyphicon-file"></span>
{{ publication['title'] }}
{% end %} {# block body_title #}


{% block main_content %}
<p class="lead">
  {{ ', '.join(["%s %s" % (a['family'], a['initials']) for a in publication['authors']]) }}
</p>
<p>
  {{ publication['journal'].get('title') or '-' }}
  <strong>{{ publication['journal'].get('volume') or '-' }}</strong>
  ({{ publication['journal'].get('issue') or '-' }})
  {{ publication['journal'].get('pages') or '-' }}
  {% module Published(publication) %}
  {% module Pubmed(publication.get('pmid'), full=True) %}
  {% module Doi(publication.get('doi'), full=True) %}
  {% module Crossref(publication.get('doi'), full=True) %}
</p>
<p>
  {{ publication['abstract'] or ''}}
</p>
<p>
  {% if not publication.get('verified') %}
  <span class="label label-warning">Unverified</span>
  {% end %}
  {% for label in sorted(publication['labels']) %}
  <p>
    <a class="label label-primary"
       href="{{ reverse_url('label', label) }}">
      {{ label }}
      {% if publication['labels'][label] %}
      [{{ publication['labels'][label] }}]
      {% end %}
    </a>
  </p>
  {% end %}
</p>
{% end %} {# block main_content #}

{% block meta_content %}
{% if is_editable %}
<p>
  <a href="{{ reverse_url('publication_edit', publication['_id']) }}"
     class="btn btn-primary left"
     role="button">
    <span class="glyphicon glyphicon-edit"></span>
    Edit
  </a>
</p>
{% if not publication.get('verified') %}
<p>
  <form action="{{ reverse_url('publication_verify', publication['_id']) }}"
	role="form"
	method="POST">
    {% module xsrf_form_html() %}
    <button type="submit" class="btn btn-success left">
      <span class="glyphicon glyphicon-ok"></span>
      Verify
    </button>
  </form>
</p>
{% end %} {# if not #}
{% if is_deletable %}
<p>
  <form action="{{ reverse_url('publication', publication['_id']) }}"
	role="form"
	method="POST">
    {% module xsrf_form_html() %}
    <input type="hidden" name="_http_method" value="delete">
    <button type="submit" class="btn btn-danger"
	    onclick="return confirm('Really delete this publication?');">
      <span class="glyphicon glyphicon-trash"></span>
      Delete
    </button>
    <a href="#" data-toggle="popover" title="Delete publication"
       data-content="{{ constants.DELETE_POPOVER }}">
      <span class="glyphicon glyphicon-question-sign"></span>
    </a>
  </form>
</p>
<p>
  <form action="{{ reverse_url('publication_blacklist', publication['_id']) }}"
	role="form"
	method="POST">
    {% module xsrf_form_html() %}
    <button type="submit" class="btn btn-danger left"
	    onclick="return confirm('Really blacklist this publication?');">
      <span class="glyphicon glyphicon-ban-circle"></span>
      Blacklist
    </button>
    <a href="#" data-toggle="popover" title="Blacklist publication"
       data-content="{{ constants.BLACKLIST_POPOVER }}">
      <span class="glyphicon glyphicon-question-sign"></span>
    </a>
  </form>
</p>
{% end %} {# if is_deletable #}
<p>
  <a href="{{ reverse_url('logs', publication['_id']) }}">
    <span class="badge">
      <span class="glyphicon glyphicon-list-alt"></span>
      Logs
    </span>
  </a>
</p>
{% end %} {# if is_editable #}
{% end %} {# block meta_content #}

{% block alt_format %}
<p>
  <a href="{{ reverse_url('publication_json', publication['_id']) }}">
    <img src="{{ static_url('json.png') }}">
    JSON
  </a>
</p>
{% end %} {# block alt_format #}

{% block javascript_code %}
<script>
$(function(){ $('[data-toggle="popover"]').popover(); });
</script>
{% end %}
