{# Display list of publications. #}

{% if publications %}
{% for publication in publications %}
<div class="well well-sm">
  <div style="float: right">
    {% module Pubmed(publication['pmid']) %}
    </br>
    {% module Doi(publication['doi']) %}
    </br>
    {% module Crossref(publication['doi']) %}
  </div>
  <div>
    <a href="{{ reverse_url('publication', publication['_id']) }}">
      <span class="glyphicon glyphicon-file"></span>
      {{ publication['title'] }}
    </a>
  </div>
  <div>
    {% if len(publication['authors']) > 4 %}
    {{ ', '.join(["%s %s" % (a['family'], a['initials']) for a in publication['authors'][0:3]]) }}
    ...
    {{ "%s %s" % (publication['authors'][-1]['family'], publication['authors'][-1]['initials']) }}
    {% else %}
    {{ ', '.join(["%s %s" % (a['family'], a['initials']) for a in publication['authors']]) }}
    {% end %} {# if len #}
  </div>
  <div>
    {{ publication['journal'].get('title') or '-' }}
    <strong>{{ publication['journal'].get('volume') or '-' }}</strong>
    ({{ publication['journal'].get('issue') or '-' }})
    {{ publication['journal'].get('pages') or '-' }}
    [{{ publication['published'] }}]
  </div>
</div>
{% end %} {# for #}
{% else %}
<i>None</i>
{% end %}
