{# Publication page. #}

{% extends "base.html" %}

{% block head_title %}{{ publication['title'] }}{% end %}

{% block body_header %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>
      <span class="glyphicon glyphicon-file"></span>
      {{ publication['title'] }}
    </h2>
  </div>
  <div class="col-md-1">
  </div>
</div>
{% end %} {# block body_header #}


{% block main_content %}
<p>
  {{ ', '.join(["%s %s" % (a['family'], a['initials']) for a in publication['authors']]) }}
</p>
<h4>
  {{ publication['journal'].get('title') or '-' }}
  <strong>{{ publication['journal'].get('volume') or '-' }}</strong>
  ({{ publication['journal'].get('issue') or '-' }})
  {{ publication['journal'].get('pages') or '-' }}
  [{{ publication['published'] }}]
</h4>
<p>
  {% module Pubmed(publication['pmid'], full=True) %}
  <br>
  {% module Doi(publication['doi'], full=True) %}
  <br>
  {% module Crossref(publication['doi'], full=True) %}
</p>
<p>
  {{ publication['abstract'] or ''}}
</p>
<p>
  {% for label in publication['labels'] %}
  <a class="label label-default"
     href="{{ reverse_url('label', label) }}">{{ label }}</a>
  {% end %}
</p>
{% end %} {# block main_content #}

{% block meta_content %}
{% if is_editable %}
<p>
  <a href="{{ reverse_url('publication_edit', publication['_id']) }}"
     class="btn btn-primary"
     role="button">
    <span class="glyphicon glyphicon-edit"></span>
    Edit
  </a>
</p>
<p>
  <form action="{{ reverse_url('publication_trash', publication['_id']) }}"
	role="form"
	method="POST">
    {% module xsrf_form_html() %}
    <button type="submit" class="btn btn-danger"
	    onclick="return confirm('Really trash this publication?');">
      <span class="glyphicon glyphicon-trash"></span>
      Trash
    </button>
  </form>
</p>
<p>
  <a href="{{ reverse_url('logs', publication['_id']) }}">
    <span class="badge">
      <span class="glyphicon glyphicon-list-alt"></span>
      Logs
    </span>
  </a>
</p>
{% end %}
{% end %} {# block meta_content #}

