{# Unverified publications page. #}

{% extends "base.html" %}

{% block head_title %}Unverified publications{% end %}
{% block body_title %}
<span class="glyphicon glyphicon-question-sign"></span>
<span class="glyphicon glyphicon-file"></span>
Unverified publications
{% end %}

{% block main_content %}
<h3>{{ len(publications) }} publications</h3>
{% for publication in publications %}
<div class="row">
  <div class="col-md-10">
    {% include 'publication_display.html' %}
  </div>
  <div class="col-md-2">
    <form action="{{ reverse_url('publication_verify', publication['_id']) }}"
	  role="form"
	  method="POST">
      {% module xsrf_form_html() %}
      <input type="hidden" name="next"
	     value="{{ reverse_url('publications_unverified') }}">
      <button type="submit" class="btn btn-success left">
	<span class="glyphicon glyphicon-ok"></span>
	Verify
      </button>
    </form>
    <p>
      <form action="{{ reverse_url('publication_blacklist', publication['_id']) }}"
	    role="form"
	    method="POST">
	{% module xsrf_form_html() %}
	<input type="hidden" name="next"
	       value="{{ reverse_url('publications_unverified') }}">
	<button type="submit" class="btn btn-danger left"
		onclick="return confirm('Really blacklist this publication?');">
	  <span class="glyphicon glyphicon-ban-circle"></span>
	  Blacklist
	</button>
	<a href="#" data-toggle="popover" title="Blacklist publication"
	   data-content="{{ constants.BLACKLIST_POPOVER }}">
	  <span class="glyphicon glyphicon-question-sign"></span>
	</a>
      </form>
    </p>
  </div>
</div>
{% end %} {# for #}
{% end %} {# block main_content #}

{% block javascript_code %}
<script>
$(function(){ $('[data-toggle="popover"]').popover(); });
</script>
{% end %}
