{# Fetch publication data given its DOI or PMID. #}

{% extends "base.html" %}

{% block head_title %}Fetch publication data{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-plus"></span>
<span class="glyphicon glyphicon-cloud-download"></span>
<span class="glyphicon glyphicon-file"></span>
Fetch data for publication
{% end %} {# block body_title #}

{% block main_content %}
<form action="{{ reverse_url('publication_fetch') }}"
      role="form"
      class="form-horizontal"
      method="POST">
  {% module xsrf_form_html() %}
  <div class="form-group">
    <label class="col-sm-2 control-label" for="identifier">PMID or DOI</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="4"
                name="identifiers" id="identifiers"></textarea>
      <span class="help-block">
        <strong>Max {{ settings['PUBLICATIONS_FETCHED_LIMIT'] }}</strong>
        will be fetched in one operation. Provide one identifier per
        line.
        <br>
	Publication(s) data to be obtained from PubMed or Crossref
	using PubMed identifiers
	(PMID, e.g. <strong>25613900</strong>)
	or Digital Object Identifiers
	(DOI, e.g. <strong>10.1126/science.1260419</strong>).
      </span>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-success">
	<span class="glyphicon glyphicon-cloud-download"></span>
	Import
      </button>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="verify">Verify</label>
    <div class="col-sm-8 checkbox">
      <label>
	<input type="checkbox" name="verify" id="verify" value="true">
        Immediately set any newly imported publication references as
        verified.
        <a href="https://github.com/pekrau/Publications/wiki/Terms-explained#Verified"
           target="_">
          <span class="glyphicon glyphicon-info-sign"></span>
          Explain "verified"
        </a>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="override">Override</label>
    <div class="col-sm-8 checkbox">
      <label>
	<input type="checkbox" name="override" id="override" value="true">
	Fetch the publication data overriding its current blacklisted status,
	if any.
        <a href="https://github.com/pekrau/Publications/wiki/Terms-explained#Override"
           target="_">
          <span class="glyphicon glyphicon-info-sign"></span>
          Explain "override"
        </a>
      </label>
    </div>
  </div>
</form>

{% if publications %}
<div>
  {% set list_title = "Recently modified publications (max %i shown)" % settings['SHORT_PUBLICATIONS_LIST_LIMIT'] %}
  {% include 'publications_list.html' %}
</div>
{% end %} {# if publications #}
{% end %} {# block main_content #}

{% block meta_content %}
<a href="{{ reverse_url('home') }}"
   class="btn btn-default"
   role="button">
  <span class="glyphicon glyphicon-remove-circle"></span>
  Cancel
</a>
{% end %} {# block meta_content #}

{% block autofocus %}
<script>
  $(function(){ $("#identifier").focus(); });
</script>
{% end %}
