{# Publication item within a list. #}

<div class="well well-sm">
  <div style="float: right">
    {% module Pubmed(publication.get('pmid')) %}
    {% module Doi(publication.get('doi')) %}
    {% module Crossref(publication.get('doi')) %}
  </div>
  <div>
    {% if current_user and publication.get('acquired') %}
    <span class="glyphicon glyphicon-lock"
          title="{{ publication['acquired']['account'] }}"></span>
    {% end %}
    <a href="{{ reverse_url('publication', publication['_id']) }}">
      <span class="glyphicon glyphicon-file"></span>
      {{ publication['title'] }}
    </a>
  </div>
  <div>
    {% module Authors(publication) %}
  </div>
  <div>
    {% module Journal(publication) %}
    {% module Published(publication) %}
  </div>
  {% if publication['xrefs'] %}
  <div>
    {% for xref in publication['xrefs'] %}
    {% module Xref(xref) %}
    {% end %}
  </div>
  {% end %}
  <div>
    {% for l in sorted(publication['labels']) %}
    <a class="label label-primary margin-r1"
       href="{{ reverse_url('label', l) }}">{{ l }}
      {% if publication['labels'][l] %}
      [{{ publication['labels'][l] }}]
      {% end %}
    </a>
    {% end %}
  </div>
</div>
