{# Publications: Publication page. #}

{% extends "base.html" %}

{% block main_content %}

<p>
  {{ ', '.join(["%s %s" % (a['family'], a['initials']) for a in publication['authors']]) }}
</p>

<h4>
  {{ publication['journal'].get('title') or '-' }}
  <strong>{{ publication['journal'].get('volume') or '-' }}</strong>
  ({{ publication['journal'].get('issue') or '-' }})
  {{ publication['journal'].get('pages') or '-' }}
  [{{ publication['published'] }}]
</h4>

<p>
  {% module Pubmed(publication['pmid']) %}
  <span class="spacer">{% module Doi(publication['doi']) %}</span>
  <span class="spacer">{% module Crossref(publication['doi']) %}</span>
</p>

{% if publication['abstract'] %}
<p>
  {{ publication['abstract'] }}
</p>
{% end %}

{% end %} {# block main_content #}

{% block meta_content %}
{% if is_admin %}
<p>
  <form action="{{ reverse_url('publication_edit', publication['_id']) }}"
	role="form"
	method="GET">
    <div class="form-group">
      <button type="submit" class="btn btn-default">
	<span class="glyphicon glyphicon-edit"></span>
	Edit
      </button>
    </div>
  </form>
</p>
<p>
  <a href="{{ reverse_url('logs', publication['_id']) }}">
    <span class="badge">Logs</span>
  </a>
</p>
{% end %}
{% end %} {# block meta_content #}

