{# Fetch publication data given its DOI or PMID. #}

{% extends "base.html" %}

{% block head_title %}Fetch publication data{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-plus"></span>
<span class="glyphicon glyphicon-cloud-download"></span>
<span class="glyphicon glyphicon-file"></span>
Fetch data for publication
{% end %} {# block body_title #}

{% block main_content %}
<form action="{{ reverse_url('publication_fetch') }}"
      role="form"
      class="form-horizontal"
      method="POST">
  {% module xsrf_form_html() %}
  <div class="form-group">
    <label class="col-sm-2 control-label" for="identifier">PMID or DOI</label>
    <div class="col-sm-8">
      <textarea class="form-control" rows="4"
                name="identifiers" id="identifiers"></textarea>
      <span class="help-block">
	Fetch publication reference data using PubMed identifiers
	(PMID, e.g. <strong>25613900</strong>)
	or Digital Object Identifiers
	(DOI, e.g. <strong>10.1126/science.1260419</strong>).
        <br>
        <strong>Max {{ settings['PUBLICATIONS_FETCHED_LIMIT'] }}</strong>
        will be fetched in one operation. Provide one identifier per
        line.
        <br>
        The API can be used to fetch publications using a script.
        See the
        <a href="https://github.com/pekrau/Publications/wiki/Use-API-fetch" target="_blank">Publications wiki</a>
        for more information.
      </span>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-success">
	<span class="glyphicon glyphicon-cloud-download"></span>
	Fetch
      </button>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="override">Override</label>
    <div class="col-sm-8 checkbox">
      <label>
	<input type="checkbox" name="override" id="override" value="true">
	Fetch the publication data overriding its current blacklisted status,
	if any.
        <br>
        <a href="https://github.com/pekrau/Publications/wiki/Terms-explained#override"
           target="_">
          <span class="glyphicon glyphicon-question-sign"></span>
          Explain "override"
        </a>
      </label>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Labels</label>
    <div class=" col-sm-8">
      <a href="https://github.com/pekrau/Publications/wiki/Terms-explained#label"
         target="_">
        <span class="glyphicon glyphicon-question-sign"></span>
        Explain "label"
      </a>
      &nbsp;
      <a href="https://github.com/pekrau/Publications/wiki/Terms-explained#qualifier"
         target="_">
        <span class="glyphicon glyphicon-question-sign"></span>
        Explain "qualifier"
      </a>
      <br>
      {% set checked = not is_admin and 'checked' or '' %}
      {% for label in sorted(labels) %}
      <div class="checkbox">
	<label>
	  <input type="checkbox" {{ checked }}
                 name="label" value="{{ label }}">{{ label }}
	</label>
      </div>
      {% if settings['SITE_LABEL_QUALIFIERS'] %}
      <div style="padding-left: 2em;">
	<label class="radio-inline">
          {% set qual = settings['SITE_LABEL_QUALIFIERS'][0] %}
          {% set checked = not is_admin and 'checked' or '' %}
	  <input type="radio" {{ checked }}
                 name="{{ label }}_qualifier" value="{{ qual }}">{{ qual }}
	</label>
	{% for qual in settings['SITE_LABEL_QUALIFIERS'][1:] %}
	<label class="radio-inline">
	  <input type="radio"
                 name="{{ label }}_qualifier" value="{{ qual }}">{{ qual }}
	</label>
	{% end %}
      </div>
      {% end %} {# if settings['SITE_LABEL_QUALIFIERS'] #}
      {% end %} {# for label #}
    </div>
  </div>

</form>

{% if publications %}
<div>
  {% set list_title = "Fetched publications" %}
  {% include 'publications_list.html' %}
</div>
{% end %} {# if publications #}
{% end %} {# block main_content #}

{% block meta_content %}
<p>
  <a href="{{ reverse_url('home') }}"
     class="btn btn-default"
     role="button">
    <span class="glyphicon glyphicon-remove-circle"></span>
    Cancel
  </a>
</p>
<p>
  <a href="https://github.com/pekrau/Publications/wiki/Standard-operating-procedure"
           target="_">
    <span class="glyphicon glyphicon-info-sign"></span>
    Standard operating procedure
  </a>
</p>
{% end %} {# block meta_content #}

{% block autofocus %}
<script>
  $(function(){ $("#identifier").focus(); });
</script>
{% end %}
