{# Researcher publications edit page. #}

{% extends "../base.html" %}

{% block head_title %}
Edit publications researcher '{{ researcher['family'] }} {{ researcher['initials'] }}'
{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-edit"></span>
<span class="glyphicon glyphicon-education"></span>
Edit publications researcher '{{ researcher['family'] }} {{ researcher['initials'] }}'
{% end %} {# block body_title #}

{% block main_content %}
<form action="{{ reverse_url('researcher_publications_edit', researcher['_id']) }}"
      method="POST" role="form" class="form-horizontal">
  {% module xsrf_form_html() %}

  {% for publication in publications %}
  <div class="form-group">
    <div class="col-md-2" style="vertical-align: top;">
      {% if researcher['_id'] in [a.get('researcher') for a in publication['authors']] %}
      <div class="radio" style="padding-top: 0;">
        <label class="radio" style="padding-top: 0;">
	  <input type="radio" name="{{ publication['_id'] }}" checked value="true">
          Keep
        </label>
        <label class="radio" style="padding-top: 0;">
	  <input type="radio" name="{{ publication['_id'] }}" value="false"> Remove
        </label>
      </div>
      {% else %}
      <div class="checkbox" style="padding-top: 0;">
        <label>
	  <input type="checkbox" name="add" value="{{ publication['_id'] }}"> Add
        </label>
      </div>
      {% end %}
    </div>
    <div class="col-md-10">
      <div>
        <a href="{{ reverse_url('publication', publication['_id']) }}">
          <span class="glyphicon glyphicon-file"></span> {{ publication['title'] }}
        </a>
      </div>
      <div>
        {% module Authors(publication['authors'], complete=True) %}
      </div>
      <div>
        {% module Journal(publication) %}
        {% module Published(publication) %}
      </div>
    </div>
  </div>
  {% end %} {# for publication in publications #}

  <div class="form-group">
    <div class="col-md-3 col-md-offset-1">
      <button type="submit" class="btn btn-success btn-block">
	<span class="glyphicon glyphicon-save"></span> Save
      </button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}

{% block meta_content %}
<a href="{{ reverse_url('researcher', researcher['_id']) }}"
   role="button" class="btn btn-default btn-block">
  <span class="glyphicon glyphicon-remove-circle"></span> Cancel
</a>
{% end %} {# block meta_content #}
