/* Publications: Minor modifications to the standard bootstrap CSS. */

/* The icon image padding must be adjusted for the navbar */
.navbar-brand {padding: 9px; }

/* Less empty space below navbar. */
.navbar {margin-bottom: 10px; }

/* Text */
.pre    {white-space: pre; }
.nobr   {white-space:nowrap; }
.number {text-align: right; font-family: monospace; }

/* Button */
.menu_button {text-align: left; width:10em; }

/* Various */
.top      {vertical-align: top; }
.left     {text-align: left; }
.right    {text-align: right; }
.margin10 {margin: 10px; }