/* Publications: Minor modifications to the standard bootstrap CSS. */

/* Text */
.pre    {white-space: pre; }
.nobr   {white-space: nowrap; }
.number {text-align: right; font-family: monospace; }

/* Label */
.label-custom {margin: 10px;
	       text-align: left;
	       white-space: normal; }

/* Various */
.top      {vertical-align: top; }
.left     {text-align: left; }
.right    {text-align: right; }
