{# Account edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit account {{ account['email'] }}
{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-edit"></span>
<span class="glyphicon glyphicon-user"></span>
Edit '{{ account['email'] }}'
{% end %} {# block body_title #}

{% block main_content %}
<form action="{{ reverse_url('account_edit', account['email']) }}"
      role="form"
      class="form-horizontal"
      method="POST">
  {% module xsrf_form_html() %}
  <input type="hidden" name="_rev" value="{{ account['_rev'] }}">

  <div class="form-group">
    <label class="control-label col-md-1" for="name">Name</label>
    <div class="col-md-11">
      <input type="text" name="name" id="name" size="40"
	     value="{{ account.get('name') or '' }}">
      <span class="help-block">
	Your name, written as usual, e.g. <i>Per Kraulis</i>.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-1" for="orcid">ORCID</label>
    <div class="col-md-11">
      <input type="text" name="orcid" id="orcid" size="18"
	     value="{{ account.get('orcid') or '' }}">
      <span class="help-block">
	Your ORCID (persistent digital identifier for researchers).
        <br>
        See the <a href="https://orcid.org/" target="_blank">ORCID website</a>
        and register to obtain your ORCID, if not already defined.
      </span>
    </div>
  </div>

  {% if is_admin %}
  <div class="form-group">
    <label class="control-label col-md-1" for="role">Role</label>
    <div class="col-md-11">
      {% for role in constants.ROLES %}
      {% set checked = role == account['role'] and 'checked' or '' %}
      <label class="radio-inline">
	<input type="radio" name="role" id="role"
	       value="{{ role }}" {{ checked }}>{{ role }}
      </label>
      {% end %}
      <span class="help-block">
	<strong>admin</strong> may do anything, including adding accounts, 
	changing account role and editing publications.
	<br>
	<strong>curator</strong> may add and edit publications.
	<br>
	<strong>xref-curator</strong> may add and edit xrefs in publications.
      </span>
    </div>
  </div>
  {% end %} {# if is_admin #}

  {% if is_admin %}
  <div class="form-group">
    <label class="control-label col-md-1" for="labels">Labels</label>
    <div class=" col-md-6">
      <select multiple size="8" class="form-control" name="labels" id="labels">
	{% for label in labels %}
	{% if label in account['labels'] %}
	<option selected>{{ label }}</option>
	{% else %}
	<option>{{ label }}</option>
	{% end %} {# if label #}
	{% end %} {# for label #}
      </select>
      <span class="help-block">
	Multiple select list; hold ctrl or shift (or drag with the mouse)
	to select more than one.
      </span>
    </div>
  </div>
  {% end %} {# if is_admin #}

  <div class="form-group">
    <label class="control-label col-md-1" for="api_key">API&nbsp;key</label>
    <div class="col-md-11">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="api_key" id="api_key" value="true">
          Renew the API key.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 col-md-offset-1">
      <button type="submit" class="btn btn-success btn-block">
	<span class="glyphicon glyphicon-save"></span>
	Save
      </button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}

{% block meta_content %}
<a href="{{ reverse_url('account', account['email']) }}"
   class="btn btn-default btn-block"
   role="button">
  <span class="glyphicon glyphicon-remove-circle"></span>
  Cancel
</a>
{% end %} {# block meta_content #}

{% block autofocus %}
<script>
  $(function(){ $("#role").focus(); });
</script>
{% end %}
