{# Author page. #}

{% extends "base.html" %}

{% block head_title %}{{ author['family'] }} {{ author['initials'] }}{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-user"></span>
{{ author['family'] }} {{ author['initials'] }}
{% end %} {# block body_title #}

{% block main_content %}
<table class="table">
  <tr>
    <th>Family name</th>
    <td>{{ author['family'] }}</td>
  </tr>
  <tr>
    <th>Given name</th>
    <td>{{ author['given'] }}</td>
  </tr>
  <tr>
    <th>Initials</th>
    <td>{{ author['initials'] }}</td>
  </tr>
  <tr>
    <th>ORCID</th>
    <td>
      {% if author['orcid'] and settings['XREF_TEMPLATE_URLS'].get('ORCID') %}
      <a href="{{ settings['XREF_TEMPLATE_URLS']['ORCID'] % author['orcid'] }}"
         target="_blank">{{ author['orcid'] }}</a>
      {% else %}
      {{ author['orcid'] or '-' }}
      {% end %}
    </td>
  </tr>
  <tr>
    <th>IUID</th>
    <td>{{ author['_id'] }}</td>
  </tr>
</table>
{% end %} {# block main_content #}
