{# Configuration page. #}

{% extends "base.html" %}

{% block head_title %}Configuration{% end %}

{% block body_title %}<span class="glyphicon glyphicon-wrench"></span> Configuration{% end %}

{% block main_content %}
<form action="{{ reverse_url('configuration') }}" method="POST" role="form"
      class="form-horizontal" enctype="multipart/form-data">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <label class="control-label col-md-2" for="alert">Alert</label>
    <div class="col-md-10">
      <input type="text" name="alert" id="alert" class="form-control"
                 value="{{ settings.get('ALERT') or '' }}">
      <span class="help-block">
        Alert text displayed at the top of each page. May contain HTML.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="name">Site name</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-5">
          <input type="text" name="name" id="name" class="form-control"
                 value="{{ settings['SITE_NAME'] }}">
        </div>
      </div>
      <span class="help-block">
        The name of this Publications site.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="text">Site text</label>
    <div class="col-md-10">
      <textarea name="text" id="text" class="form-control"
                >{{ settings['SITE_TEXT'] }}</textarea>
      <span class="help-block">
        A description of this Publications site. HTML code is allowed.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="label_qualifiers">Label qualifiers</label>
    <div class="col-md-10">
      <textarea name="label_qualifiers" id="label_qualifiers" class="form-control"
                >{{ '\n'.join(settings['SITE_LABEL_QUALIFIERS']) }}</textarea>
      <span class="help-block">
        List of label qualifiers, one per line.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="icon">Site icon file upload</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8">
          <input type="file" name="icon" id="icon" class="form-control">
        </div>
      </div>
      <span class="help-block">
        The site icon file to upload.
        <br>
        Current site icon:
        <img src="{{ reverse_url('site', 'icon') }}" style="border: 1px solid black">
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="icon_default">Default site icon</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="icon_default" name="icon_default" value="yes">
          Revert to the default site icon.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="favicon">Favicon file upload</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8">
          <input type="file" name="favicon" id="favicon" class="form-control">
        </div>
      </div>
      <span class="help-block">
        The favicon file to upload.
        <br>
        Current favicon:
        <img src="{{ reverse_url('site', 'favicon') }}" style="border: 1px solid black">
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="favicon_default">Default site favicon</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="favicon_default" name="favicon_default" value="yes">
          Revert to the default site favicon.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="host_name">Host name</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8">
          <input type="text" name="host_name" id="host_name" class="form-control"
                 value="{{ settings['SITE_HOST_NAME'] or '' }}">
        </div>
      </div>
      <span class="help-block">
        The name of the hosting site. Optional.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="host_url">Host URL</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8">
          <input type="text" name="host_url" id="host_url" class="form-control"
                 value="{{ settings['SITE_HOST_URL'] or '' }}">
        </div>
      </div>
      <span class="help-block">
        The URL of the hosting site. Optional.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="translations">Term translations</label>
    <div class="col-md-10">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Term</th>
            <th>Translation to display</th>
          </tr>
        </thead>
        <tbody>
          {% for key in settings['DISPLAY_TRANSLATIONS'] %}
          <tr>
            <td>
              <p class="form-control-static">{{ key }}</p>
            </td>
            <td>
              <input type="text" name="translation_{{ key }}" id="translation_{{ key }}"
                     class="form-control"
                     value="{{ settings['DISPLAY_TRANSLATIONS'][key] or '' }}">
            </td>
          </tr>
          {% end %}
        </tbody>
      </table>
      <span class="help-block">
        Translations of some terms in the pages.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="temporal_labels">Temporal labels</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="temporal_labels" name="temporal_labels" value="yes"
                 {{ settings['TEMPORAL_LABELS'] and 'checked' or '' }}>
          Labels have a 'Started' and 'Ended' years to denote activity or validity.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="number_first_authors">Number of first authors</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <input type="number" name="number_first_authors" id="number_first_authors" min="1"
                 class="form-control" value="{{ settings['NUMBER_FIRST_AUTHORS'] }}">
        </div>
      </div>
      <span class="help-block">
        The number of first authors to show for publications in lists.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="number_last_authors">Number of last authors</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <input type="number" name="number_last_authors" id="number_last_authors" min="1"
                 class="form-control" value="{{ settings['NUMBER_LAST_AUTHORS'] }}">
        </div>
      </div>
      <span class="help-block">
        The number of last authors to show for publications in lists.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="short_publications_list_limit">Number in short lists</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <input type="number" name="short_publications_list_limit" id="short_publications_list_limit" min="1"
                 class="form-control" value="{{ settings['SHORT_PUBLICATIONS_LIST_LIMIT'] }}">
        </div>
      </div>
      <span class="help-block">
        The number of publications to show in pages containing short lists.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="long_publications_list_limit">Number in long lists</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">
          <input type="number" name="long_publications_list_limit" id="long_publications_list_limit" min="1"
                 class="form-control" value="{{ settings['LONG_PUBLICATIONS_LIST_LIMIT'] }}">
        </div>
      </div>
      <span class="help-block">
        The number of publications to show in pages containing long lists.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="xref_template_urls">Xref template URLs</label>
    <div class="col-md-10">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th width="30%">Xref</th>
            <th>Template URL</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in settings['XREF_TEMPLATE_URLS'].items() %}
          <tr>
            <td>
              <p class="form-control-static">{{ key }}</p>
            </td>
            <td>
              <input type="text" name="xref_{{ key }}" id="xref_{{ key }}"
                     class="form-control" value="{{ value }}">
            </td>
          </tr>
          {% end %}
          <tr>
            <td>
              <input type="text" name="xref" id="xref" class="form-control">
            </td>
            <td>
              <input type="text" name="xreftemplate" id="xreftemplate"
                     class="form-control">
            </td>
          </tr>
        </tbody>
      </table>
      <span class="help-block">
        <p>
          Template URLs for references to external databases. The
          database key is inserted at the <code>%s</code> in the
          template URL. The database symbol (xref) is matched ignoring
          character case.
        </p>
        <p>
          To add a new entry, give both the database symbol (xref) and the
          template URL in input fields of the last row.
        </p>
        <p>
          To remove an entry, give the database symbol (xref) with no value
          in the input fields of the last row.
      </span>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-offset-2 col-md-3">
      <button type="submit" class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}
