{# Configuration page. #}

{% extends "base.html" %}

{% block head_title %}Configuration{% end %}

{% block body_title %}Configuration{% end %}

{% block main_content %}
<form action="{{ reverse_url('configuration') }}" method="POST" role="form"
      class="form-horizontal" enctype="multipart/form-data">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <label class="control-label col-md-2" for="name">Site name</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-5">
          <input type="text" name="name" id="name" class="form-control"
                 value="{{ settings['SITE_NAME'] }}">
        </div>
      </div>
      <span class="help-block">
        The name of this Publications site.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="text">Site text</label>
    <div class="col-md-10">
      <textarea name="text" id="text" class="form-control"
                >{{ settings['SITE_TEXT'] }}</textarea>
      <span class="help-block">
        A description of this Publications site. HTML code is allowed.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="label_qualifiers">Label qualifiers</label>
    <div class="col-md-10">
      <textarea name="label_qualifiers" id="label_qualifiers" class="form-control"
                >{{ '\n'.join(settings['SITE_LABEL_QUALIFIERS']) }}</textarea>
      <span class="help-block">
        List of label qualifiers, one per line.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="icon">Site icon file upload</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8">
          <input type="file" name="icon" id="icon" class="form-control">
        </div>
      </div>
      <span class="help-block">
        The site icon file to upload.
        Current site icon:
        <img src="{{ reverse_url('site', 'icon') }}" style="border: 1px solid black">
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="icon_default">Default site icon</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="icon_default" name="icon_default" value="yes">
          Revert to the default site icon.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="favicon">Favicon file upload</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8">
          <input type="file" name="favicon" id="favicon" class="form-control">
        </div>
      </div>
      <span class="help-block">
        The favicon file to upload. Current favicon:
        <img src="{{ reverse_url('site', 'favicon') }}" style="border: 1px solid black">
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="favicon_default">Default site favicon</label>
    <div class="col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="favicon_default" name="favicon_default" value="yes">
          Revert to the default site favicon.
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="host_name">Host name</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8">
          <input type="text" name="host_name" id="host_name" class="form-control"
                 value="{{ settings['SITE_HOST_NAME'] or '' }}">
        </div>
      </div>
      <span class="help-block">
        The name of the hosting site. Optional.
      </span>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-2" for="host_url">Host URL</label>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-8">
          <input type="text" name="host_url" id="host_url" class="form-control"
                 value="{{ settings['SITE_HOST_URL'] or '' }}">
        </div>
      </div>
      <span class="help-block">
        The URL of the hosting site. Optional.
      </span>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-offset-2 col-md-3">
      <button type="submit" class="btn btn-success btn-block">
        <span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}
