{# Documentation: Overview. #}

{% extends "base.html" %}

{% block head_title %}Labels{% end %}

{% block body_title %}Labels{% end %}

{% block main_content %}
<p class="lead">
  Labels are annotation tagged on to the publication references. They
  can be used to denote <i>e.g.</i> which facility or research group
  was involved in a publication, or what area the publication is
  in. This is set up by the site admin.
</p>
<p class="lead">
  A curator account can have privileges for a set of labels. This
  means that she can add or remove those labels to a publication. She
  cannot change the labels for which she does not have privileges.
</p>
<p class="lead">
  A curator can delete a publication. Obviously, this should be done
  respecting the wishes of other curators of the system.
</p>
{% end %} {# block main_content #}
