{# Home page. #}

{% extends "base.html" %}

{% block head_title %}{{ settings['SITE_NAME'] }}{% end %}

{% block body_title %}{{ settings['SITE_TITLE'] }}{% end %}

{% block body_subtitle %}
<p>{% raw settings['SITE_TEXT'] %}</p>
{% end %}

{% block menu_content %}
<p class="text-center">
  <span class="glyphicon glyphicon-file"></span> Publications by year
</p>
{% for y, c in year_counts %}
<p style="padding: 0px 10px">
  <a href="{{ reverse_url('publications_year', y) }}"
     role="button" class="btn btn-default btn-block btn-xs">
    {{ y }} ({{ c }})
  </a>
</p>
{% end %} {# for y, c #}
<p style="padding: 0px 10px">
  <a href="{{ reverse_url('publications') }}"
     role="button" class="btn btn-default btn-block btn-xs">
    All ({{ sum([c for y, c in year_counts]) }})
  </a>
</p>
<br>
<p>
  <a href="{{ reverse_url('labels') }}"
     role="button" class="btn btn-default btn-block btn-sm">
    <span class="glyphicon glyphicon-tag"></span>
    {% module Translate('Labels') %}
  </a>
</p>
<p>
  <a href="{{ reverse_url('journals') }}"
     role="button" class="btn btn-default btn-block btn-sm">
    <span class="glyphicon glyphicon-book"></span>
    Journals
  </a>
</p>
{% end %} {# block menu_content #}

{% block main_content %}
<h3>{{"The %s most recent publications" % limit }}</h3>

{% for publication in publications %}
{% include 'publication.html' %}
{% end %} {# for #}

{% end %} {# block main_content #}
