{# Label merge page. #}

{% extends "base.html" %}

{% block head_title %}Merge label{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-tag"></span>
<span class="glyphicon glyphicon-resize-small"></span>
Merge '{{ label['value'] }}'
{% end %} {# block body_title #}

{% block main_content %}
<form action="{{ reverse_url('label_merge', label['value']) }}"
      role="form"
      class="form-horizontal"
      method="POST">
  {% module xsrf_form_html() %}
  <input type="hidden" name="_rev" value="{{ label['_rev'] }}">

  <div class="form-group has-feedback">
    <label class="control-label col-md-1" for="merge">Into</label>
    <div class="col-md-8">
      <select class="form-control" name="merge" id="merge">
	{% for l in labels %}
	{% if l['value'] != label['value'] %}
	<option>{{ l['value'] }}</option>
	{% end %} {# if #}
	{% end %} {# for #}
      </select>
      <span class="help-block">
	The label into which to merge the current label.
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-3 col-md-offset-1">
      <button type="submit" class="btn btn-success btn-block">
	<span class="glyphicon glyphicon-resize.small"></span>
	Merge
      </button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}

{% block meta_content %}
<a href="{{ reverse_url('label', label['value']) }}"
   class="btn btn-default btn-block"
   role="button">
  <span class="glyphicon glyphicon-remove-circle"></span>
  Cancel
</a>
{% end %} {# block meta_content #}

{% block autofocus %}
<script>
  $(function(){ $("#merge").focus(); });
</script>
{% end %}
