{# Login page. #}

{% extends "base.html" %}

{% block head_title %}Login{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-log-in"></span>
Login
{% end %} {# block body_title #}

{% block main_content %}
<div class="row">
  <div class="col-md-6">
    <form action="{{ reverse_url('login') }}"
	  role="form"
	  method="POST">
      {% module xsrf_form_html() %}
      <div class="form-group has-feedback">
	<label for="email">Email</label>
	<input type="text" class="form-control" name="email"
	       placeholder="Email address of account"
	       autocomplete="email">
	<span class="glyphicon glyphicon-star text-danger form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
	<label for="password">Password</label>
	<input type="password" class="form-control" name="password"
	       autocomplete="password">
	<span class="glyphicon glyphicon-star text-danger form-control-feedback"></span>
      </div>
      <input type="hidden" name="next" value="{{ next }}">
      <div class="form-group"> 
	<button id="login" type="submit" class="btn btn-primary btn-block">
	  <span class="glyphicon glyphicon-log-in"></span>
	  Login
	</button>
      </div>
    </form>
    <p>
      Forgotten your password?
      <a href="{{ reverse_url('account_reset') }}"
         type="button" class="btn btn-warning">Reset it here.</a>
    </p>
  </div>
  <div class="col-md-6">
    <div class="well well-lg">
      <p>
        Only a small select group of persons are allowed to be
        curators of this system. Therefore, there is no way to
        register an account via the web interface.
      </p>
      <p>
        Contact the system admin (see
        page <a href="/contact">"Contact"</a>) and ask to become a
        curator if you feel that you should be one.
      </p>
    </div>
  </div>
</div>
{% end %} {# block main_content #}
