{# Publications TXT setup page. #}

{% extends "base.html" %}

{% block head_title %}Download Publications TXT{% end %}
{% block body_title %}
<span class="glyphicon glyphicon-download-alt"></span>
Download Publications TXT
{% end %}

{% block main_content %}
<form action="{{ reverse_url('publications_txt') }}"
      role="form" class="form-horizontal"
      method="POST">
  {% module xsrf_form_html() %}
  {% include 'publications_filter.html' %}
  {% include 'publications_authors_parameters.html' %}
  {% include 'publications_txt_parameters.html' %}
  {% include 'publications_download.html' %}
</form>
{% end %} {# block main_content #}
