{# Blacklisted page. #}

{% extends "base.html" %}

{% block head_title %}Blacklisted{% end %}
{% block body_title %}
<span class="glyphicon glyphicon-ban-circle"></span>
Blacklisted
{% end %}

{% block main_content %}
<table class="table table-condensed">
  <tr>
    <th>Title</th>
    <th>PMID</th>
    <th>DOI</th>
    <th>Remove from blacklist</th>
  </tr>
  {% for entry in blacklisted %}
  <tr>
    <td>{{ entry["title"] }}</td>
    <td>{% module PubmedButton(entry.get("pmid"), full=True) %}</td>
    <td>{% module DoiButton(entry.get("doi"), full=True) %}</td>
    <td>
      <form action="{{ reverse_url('publications_blacklisted') }}"
            role="form"
            class="form-horizontal"
            method="POST">
        {% module xsrf_form_html() %}
        <input type="hidden" name="remove" value="{{ entry['_id'] }}">
        <button type="submit" class="btn btn-danger"
	        onclick="return confirm('Really remove this blacklist entry?');">
	  <span class="glyphicon glyphicon-remove"></span>
	  Remove
        </button>
      </form>
    </td>
  </tr>
  {% end %} {# for entry in blacklisted #}
</table>
{% end %} {# block main_content #}

