{# Publications lacking PMID page. #}

{% extends "base.html" %}

{% block head_title %}Publications lacking PMID{% end %}
{% block body_title %}
<span class="glyphicon glyphicon-unchecked"></span>
Publications lacking PMID
{% end %}

{% block main_content %}
{% include 'publications_list.html' %}
{% end %} {# block main_content #}

{% block alt_format %}
{% set url = handler.reverse_url('publications_no_pmid_json') %}
<a href="{{ url }}"><img src="{{ static_url('json.png') }}"> JSON</a>
{% end %} {# block alt_format #}
