{# Section for authors parameters for output of publications. #}

{# Authors output; complete or abbreviated list. #}
<div class="form-group">
  <label class="control-label col-md-1" for="all_authors">Authors</label>
  <div class="checkbox col-md-5">
    <label>
      <input type="checkbox" name="all_authors" value="true">Complete list
    </label>
  </div>
  <div class="col-md-6 help-block">
    Check the box to include all authors.
    <br>
    Default is an abbreviated list containing at most the 2 first and
    the 2 last authors, omitting the middle authors.
  </div>
</div>
