{# Section for CSV parameters for output of publications. #}

<div class="form-group">
  <label class="control-label col-md-1" for="delimiter">Delimiter</label>
  <div class="col-md-5">
    <div class="radio">
      <label><input type="radio" name="delimiter" value="comma" checked>Comma</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="delimiter" value="semi-colon">Semi-colon</label>
    </div>
  </div>
  <div class="col-md-6 help-block">
    The delimiter separating the columns in the CSV file.
  </div>
</div>

<div class="form-group">
  <label class="control-label col-md-1" for="encoding">Character encoding</label>
  <div class="col-md-5">
    <div class="radio">
      <label><input type="radio" name="encoding" value="utf-8" checked>UTF-8</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="encoding" value="iso-8859-1">ISO-8859-1</label>
    </div>
  </div>
  <div class="col-md-6 help-block">
    The character encoding used in the CSV file.
    <br>
    Microsoft Excel on the 2011 version of Apple OSX has a known bug which
    hopefully can be circumvented using the ISO-8859-1 character encoding.
  </div>
</div>
