{# Publication item within a list. #}

<div class="well well-sm">
  <div class="pull-right">
    {% if publication.get('pmid_findable') %}
    <form action="{{ reverse_url('publication_find_pmid', publication['_id']) }}"
          role="form"
          method="POST">
      {% module xsrf_form_html() %}
      <div class="form-group">
        <button type="submit" class="btn btn-xs btn-primary">
          <span class="glyphicon glyphicon-ok-circle"></span>
          Find PMID
        </button>
      </div>
    </form>
    {% end %}
    {% module PubmedButton(publication.get('pmid')) %}
    {% module DoiButton(publication.get('doi')) %}
    {% module CrossrefButton(publication.get('doi')) %}
  </div>
  <div>
    <a href="{{ reverse_url('publication', publication['_id']) }}">
      <span class="glyphicon glyphicon-file"></span>
      {{ publication['title'] }}
    </a>
  </div>
  <div>
    {% module Authors(publication['authors']) %}
  </div>
  <div>
    {% module Journal(publication) %}
    {% module Published(publication) %}
    {% module OpenAccess(publication) %}
  </div>
  <div>
    {# Avoid name collision with 'label' elsewhere. #}
    {% for label2 in sorted(publication['labels']) %}
    <a class="label label-primary margin-r1"
       href="{{ reverse_url('label', label2) }}">
      {{ label2 }}
      {% if publication['labels'].get(label2) %}
      [{{ publication['labels'][label2] }}]
      {% end %}
    </a>
    {% end %}
  </div>
</div>
