{# Publications TXT setup page. #}

{% extends "base.html" %}

{% block head_title %}Download Publications TXT{% end %}
{% block body_title %}
<span class="glyphicon glyphicon-download-alt"></span>
Download Publications TXT
{% end %}

{% block main_content %}
<form action="{{ reverse_url('publications_txt') }}"
      role="form"
      class="form-horizontal"
      method="POST">
  {% module xsrf_form_html() %}

  <div class="form-group">
    <label class="control-label col-sm-1" for="years">Years</label>
    <div class="col-sm-3">
      <select class="form-control" id="years" name="years" multiple>
	{% for y, c in year_counts %}
	{% if y == year %}
	<option selected value="{{ y }}">{{ y }} ({{ c }})</option>
	{% else %}
	<option value="{{ y }}">{{ y }} ({{ c }})</option>
	{% end %}
	{% end %}
      </select>
    </div>
    <div class="col-sm-6 col-sm-offset-2 help-block">
      Filter publications based on publication year.
      <br>
      This filter is not applied if none are selected.
      <br>
      Multiple select allowed. Hold ctrl or shift (or drag with the mouse)
      to select more than one.
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-1" for="labels">Labels</label>
    <div class="col-sm-5">
      <select class="form-control" size="{{ max(2, min(len(all_labels), 12)) }}"
	      id="labels" name="labels" multiple>
	{% for label in all_labels %}
	{% if label in labels %}
	<option selected value="{{ label }}">{{ label }}</option>
	{% else %}
	<option value="{{ label }}">{{ label }}</option>
	{% end %}
	{% end %}
      </select>
    </div>
    <div class="col-sm-6 help-block">
      Filter publications based on the assigned labels.
      <br>
      This filter is not applied if none are selected.
      <br>
      Multiple select allowed. Hold ctrl or shift (or drag with the mouse)
      to select more than one.
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-1" for="all_authors">Authors</label>
    <div class="checkbox col-sm-3">
      <label>
	<input type="checkbox" name="all_authors" id="all_authors"
               value="true">Complete list
      </label>
    </div>
    <div class="col-sm-6 col-sm-offset-2 help-block">
      Check the box to include all authors.
      Default is an abbreviated list containing at most
      the 2 first and the 2 last authors, omitting the middle authors.
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-1" for="numbered">Numbers</label>
    <div class="checkbox col-sm-3">
      <label>
	<input type="checkbox" name="numbered" id="numbered"
               value="true">Output number
      </label>
    </div>
    <div class="col-sm-6 col-sm-offset-2 help-block">
      Prepend a number for each publication.
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-1" for="doi_url">DOI</label>
    <div class="checkbox col-sm-3">
      <label>
	<input type="checkbox" name="doi_url" id="doi_url"
               value="true">Include DOI link
      </label>
    </div>
    <div class="col-sm-6 col-sm-offset-2 help-block">
      If the publication has a DOI, include the link (URL) for it.
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-1" for="pmid_url">PubMed</label>
    <div class="checkbox col-sm-3">
      <label>
	<input type="checkbox" name="pmid_url" id="pmid_url"
               value="true">Include PubMed link
      </label>
    </div>
    <div class="col-sm-6 col-sm-offset-2 help-block">
      If the publication has a PubMed identifier, include the link (URL) for it.
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-1" for="maxline">Line length</label>
    <div class="checkbox col-sm-3">
      <label>
	<input type="checkbox" name="maxline" id="maxline"
               value="80">Max line length 80 characters
      </label>
    </div>
    <div class="col-sm-6 col-sm-offset-2 help-block">
      Add a newline whenever the number of characters reaches max 80
      characters per line.
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <button type="submit" class="btn btn-success">
	<span class="glyphicon glyphicon-download-alt"></span>
	Download
      </button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}
