{# Fragment for TXT parameters for output of publications. #}

{# Sequential numbers for publications. #}
<div class="form-group">
  <label class="control-label col-md-1" for="numbered">Numbers</label>
  <div class="checkbox col-md-3">
    <label>
      <input type="checkbox" name="numbered" id="numbered" value="true">
      Output number
    </label>
  </div>
  <div class="col-md-6 col-md-offset-2 help-block">
    Prepend a number for each publication.
  </div>
</div>

{# Output DOI link. #}
<div class="form-group">
  <label class="control-label col-md-1" for="doi_url">DOI</label>
  <div class="checkbox col-md-3">
    <label>
      <input type="checkbox" name="doi_url" id="doi_url" value="true">
      Include DOI link
    </label>
  </div>
  <div class="col-md-6 col-md-offset-2 help-block">
    If the publication has a DOI, include the link (URL) for it.
  </div>
</div>

{# Output PubMed link. #}
<div class="form-group">
  <label class="control-label col-md-1" for="pmid_url">PubMed</label>
  <div class="checkbox col-md-3">
    <label>
      <input type="checkbox" name="pmid_url" id="pmid_url" value="true">
      Include PubMed link
    </label>
  </div>
  <div class="col-md-6 col-md-offset-2 help-block">
    If the publication has a PubMed identifier, include the link (URL) for it.
  </div>
</div>

{# Line length. #}
<div class="form-group">
  <label class="control-label col-md-1" for="maxline">Line length</label>
  <div class="checkbox col-md-3">
    <label>
      <input type="checkbox" name="maxline" id="maxline" value="80">
      Max line length 80 characters
    </label>
  </div>
  <div class="col-md-6 col-md-offset-2 help-block">
    Add a newline whenever the number of characters reaches max 80
    characters per line.
  </div>
</div>
