{# List of publications, divided by years. Requires sorted list. #}

{% try %}
<h3>
{% if limit is not None %}
Limited to
{% end %} {# if #}
{{ list_title }}
{% except NameError %}
{{ len(publications) }} publications
{% end %}
</h3>

{# The list of publications must be sorted by published date. #}
{% set yr = None %}
{% for publication in publications %}
{% if publication['published'].split('-')[0] != yr %}
{% set yr = publication['published'].split('-')[0] %}
<h3>Year {{ yr }}</h3>
{% end %}
{% include 'publication_item.html' %}
{% end %} {# for #}
