{# Publications XLSX setup page. #}

{% extends "base.html" %}

{% block head_title %}Download Publications XLSX{% end %}
{% block body_title %}
<span class="glyphicon glyphicon-download-alt"></span>
Download Publications XLSX
{% end %}

{% block main_content %}
<form action="{{ reverse_url('publications_xlsx') }}"
      role="form" class="form-horizontal"
      method="POST">
  {% module xsrf_form_html() %}

  {% include 'publications_filter.html' %}
  {% include 'publications_parameters.html' %}

  <div class="form-group">
    <div class="col-md-3">
      <button type="submit" class="btn btn-success btn-block">
	<span class="glyphicon glyphicon-download-alt"></span>
	Download
      </button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}
