{# Researchers table page. #}

{% extends "base.html" %}

{% block head_title %}Researchers{% end %}
{% block body_title %}
<span class="glyphicon glyphicon-education"></span>
<span class="glyphicon glyphicon-list-alt"></span>
Researchers
{% end %}

{% block main_content %}
<table id="researchers" class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>ORCID</th>
      <th># publications</th>
    </tr>
  </thead>
  <tbody>
    {% for researcher in researchers %}
    <tr>
      <td>
	<a href="{{ reverse_url('researcher', researcher['_id']) }}">
	  <span class="glyphicon glyphicon-education"></span>
	  {{ researcher['family'] }} {{ researcher['initials'] }}
	</a>
      </td>
      <td>{{ researcher.get('orcid') or '-' }}</td>
      <td>{{ researcher["n_publications"] }}</td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end %} {# block main_content #}

{% block javascript_code %}
<script>
  $(function() {
    $("#researchers").DataTable( {
      "pagingType": "full_numbers",
      "order": [[0, "asc"]],
    });
  });
</script>
{% end %}

{% block alt_format %}
<p>
  <a href="{{ reverse_url('researchers_json') }}">
    <img src="{{ static_url('json.png') }}">
    JSON
  </a>
</p>
{% end %} {# block alt_format #}
