{# Researcher edit page. #}

{% extends "base.html" %}

{% block head_title %}
Edit researcher {{ researcher['family'] }} {{ researcher['initials'] }}
{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-edit"></span>
<span class="glyphicon glyphicon-education"></span>
Edit researcher {{ researcher['family'] }} {{ researcher['initials'] }}
{% end %} {# block body_title #}

{% block main_content %}
<form action="{{ reverse_url('researcher_edit', researcher['_id']) }}"
      role="form" class="form-horizontal"
      method="POST">
  {% module xsrf_form_html() %}
  <input type="hidden" name="_rev" value="{{ researcher['_rev'] }}">

    <div class="form-group has-feedback">
    <label class="control-label col-sm-1" for="title">Title</label>
    <div class="col-sm-8">
      <input type="text" name="title" id="title"
             class="form-control"
	     value="{{ journal.get('title') or '' }}">
      <span class="glyphicon glyphicon-star text-danger form-control-feedback"></span>
    </div>
  </div>

  <div class="form-group has-feedback">
    <label class="control-label col-sm-1" for="issn">ISSN</label>
    <div class="col-sm-4">
      <input type="text" name="issn" id="issn"
             class="form-control"
	     value="{{ journal.get('issn') or '' }}">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3 col-sm-offset-1">
      <button type="submit" class="btn btn-success btn-block">
	<span class="glyphicon glyphicon-save"></span>
	Save
      </button>
    </div>
  </div>

</form>
{% end %} {# block main_content #}

{% block meta_content %}
<a href="{{ reverse_url('researcher', researcher['_id']) }}"
   role="button" class="btn btn-default btn-block">
  <span class="glyphicon glyphicon-remove-circle"></span>
  Cancel
</a>
{% end %} {# block meta_content #}
