{# Search page. #}

{% extends "base.html" %}

{% block head_title %}Search publications{% end %}

{% block body_title %}
<span class="glyphicon glyphicon-search"></span>
Search publications
{% end %} {# block body_title #}

{% block search_field %}
{% end %}

{% block main_content %}
<form action="{{ reverse_url('search') }}"
      role="form"
      class="form-horizontal"
      method="GET">
    <div class="form-group">
      <div class="col-md-8">
	<input type="search" id="terms" name="terms"
	       class="form-control", value="{{ terms }}">
	<span class="help-block">
	  Search in publication fields for title, authors, pmid, doi,
	  published, labels and xref accessions.
	</span>
      </div>
      <div class="col-md-2">
	<button type="submit" class="btn btn-default">
	  <span class="glyphicon glyphicon-search"></span>
	  Submit
	</button>
      </div>
    </div>
</form>

<h3>{{ len(publications) }} publications</h3>
{% for publication in publications %}
{% include 'publication_item.html' %}
{% end %}

{% end %} {# block main_content #}

{% block alt_format %}
<p>
  <a href="{{ reverse_url('search_json', terms=terms) }}">
    <img src="{{ static_url('json.png') }}">
    JSON
  </a>
</p>
{% end %} {# block alt_format #}
